- **source**: Introduction to Statistical Learning
- **chapter**: 2
- **exercise**: 7

In [34]:
import pandas as pd
import numpy as np
from sklearn.metrics.pairwise import euclidean_distances
from sklearn.neighbors import KNeighborsClassifier

The following table provides a training dataset containing six samples, three predictors and one target qualitative variable. Suppose you want to use these data to predict Y when $X_1 = X_2 = X_3 = 0$

In [42]:
data = [
    [0, 3, 0, 'Red'], 
    [2, 0, 0, 'Red'], 
    [0, 1, 3, 'Red'], 
    [0, 1, 2, 'Green'], 
    [-1, 0, 1, 'Green'], 
    [1, 1, 1, 'Red']
]

columns = ['x1', 'x2', 'x3', 'y']

df = pd.DataFrame(data=data, columns=columns)
df

   x1  x2  x3      y
0   0   3   0    Red
1   2   0   0    Red
2   0   1   3    Red
3   0   1   2  Green
4  -1   0   1  Green
5   1   1   1    Red

**Calculate the Euclidean distance between each observation and the test point $(0, 0, 0)$**

Given two points, $P_1 = (x_1, y_1)$, e $P_2 = (x_2, y_2)$, the Euclidean distance between these points is calculated as:

$$
d = \sqrt{(x_1 - x_2)^2 + (y_1 - y_2)^2}
$$

In [33]:
df.assign(distance=lambda df: euclidean_distances(df[['x1', 'x2', 'x3']], [[0, 0, 0]])).sort_values(by='distance')

   x1  x2  x3      y  distance
4  -1   0   1  Green  1.414214
5   1   1   1    Red  1.732051
1   2   0   0    Red  2.000000
3   0   1   2  Green  2.236068
0   0   3   0    Red  3.000000
2   0   1   3    Red  3.162278

**What will be the prediction for $k=1$?**

Ordeding the dataset by distance in ascending order, the nearest point, and consequently the prevision, is `Green`

**What will be the prediction for $k=3$?**

Ordering the dataset by distance in ascending order, the most likely output is `Red`

## Backtesting an implementation of knn

In [41]:
KNeighborsClassifier(n_neighbors=1).fit(df[['x1', 'x2', 'x3']].values, df['y']).predict([[0, 0, 0]])

array(['Green'], dtype=object)

In [40]:
KNeighborsClassifier(n_neighbors=3).fit(df[['x1', 'x2', 'x3']].values, df['y']).predict([[0, 0, 0]])

array(['Red'], dtype=object)